<?xml version="1.0"?>
<config>
    <sections>
        <system>
            <groups>
                <smtp>
                    <fields>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                        <host>
                            <comment></comment>
                        </host>
                        <port>
                            <comment></comment>
                        </port>
                    </fields>
                </smtp>
            </groups>
        </system>
    </sections>
</config>